// colors
$color-error: #d9534f;
$color-count: #5cb85c;
$color-border: #ccc;
$color-white: #fff;

// fonts
$body-font: "Roboto", serif;
$font-size-small: 1rem;
$font-size-medium: 1.5rem;
$font-size-large: 2rem;

// spacing
$content-width: 50vw;
$component-width: 80%;

// misc
$border-radius: 3px;
